<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Bundeschroniken</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <div class="container">
		<div id="header">
			<div id="navigation">
			<a href="/index.html">Accueil</a>
			<a href="/apropos.html">A propos</a>
			<a href="/contact.html">Contact</a>
			<a href="/archive.html">Archive</a>
		    </div>
		    <div id="banner">
			<a href="/index.html">DIE BUNDESCHRONIKEN</a>
		    </div>
                    <div class="sitedesc">
                    Élucubrations et digressions variées d'un supporter absolument pas légitime de TSG Hoffenheim sur l'Allemagne, son histoire, son championnat, et parfois, à l'occasion, mais quand même très rarement, le football.
                    </div>
		</div>

                <h1>$title$</h1>
		<div id="content">
		    $body$
		</div>
		<div id="footer">
		    Site fièrement construit avec 
		    <a href="http://jaspervdj.be/hakyll">Hakyll</a>
		</div>
	</div>
    </body>
</html>
